.modal{
  width: 30%;
  padding:0 0 50px ;
  background-color: lightblue;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  &-contain{
    display: block;
    position: fixed;
    padding-top: 15%;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0 ,0 ,0 , 0.5);
    z-index: 50;
  }
  &-header{
    width: 100%;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-evenly;
    font-size: 23px;
    color:gray;
  }
  &.close{
    font-size: 25px;
    background: transparent;
    outline: none;
    border: none;
    color: lightslategrey;
  }
  &.modaltext{
    width: 80%;
    text-align: center;
    font-size: 19px;
    margin: 20px auto;
    color: white;
    line-height: 40px;
  }
  &.btn{
    margin: 30px 16px;
    padding: 11px 0px;
    width: 13%;
    outline: none;
    border: none;
  }
}
.single-note-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttons{
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  justify-content: space-evenly;
}
.edit-btn{
  display: inline-block;
  width: 200px;
  a{
    display: flex;align-items: center;justify-content: space-evenly;text-decoration: none;color: black;padding: 10px 60px;border: 1px solid black;border-radius: 4px;}
  a.active{background-color: #d5e8d4;border-color: #82b366}
}
.archive-btn{
  display: flex;
  align-items: center;
 height: 43px;
  justify-content: space-evenly;
  text-decoration: none;
  color: black;
  padding: 10px 60px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}
.archive-btn.active{
  background-color: #d5e8d4;
}

.single-note-item{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 40px;
  min-height: 500px;

}
.header{
  height: 60px;
  margin: 0;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: center;
}
.content{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  padding: 30px;
  font-size: 1.25em;
}